:root{
    --color-brown1: rgba(204, 135, 6, 0.87);
    --color-babyBlue: rgb(0, 255, 255);
    --color-dark1: rgb(10,10,10);
    --color-background-red: rgb(255,0,33);
    --color-background-button-close: rgb(255, 0, 21);
}